__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pkl
*.log
.venv/
env/
venv/
ENV/
Data/
data/
*.csv
*.parquet
vector_store/
*.index
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.egg-info/
dist/
build/
*.egg
